<html [ngStyle]="{'background-image': 'url(' + getBackgroundImg() + ')'}">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
  </head>
  <body>
    <div id ="navBar" class="nav-bar">
      <button id = "start" class="button-menu" [ngClass]="this.cursorClass" (click)="startButton()">
        <div id = "start" class="start-icon"></div>
        <span id = 'start' class="button-text">Jouer</span>
      </button>
      <button id = "help" class="button-menu" [ngClass]="this.cursorClass" (click)="helpButton()">
        <div class="help-icon"></div>
        <span class="button-text">Mode d'emploi</span>
      </button>
      <button id = "config" class="button-menu" [ngClass]="this.cursorClass" (click)="configButton()">
        <div class="config-icon"></div>
        <span class="button-text">Configuration</span>
      </button>
      <button id = "debug" class="button-menu" [ngClass]="this.cursorClass" (click)="debugButton()" >
        <div class="debug-icon"></div>
        <span class="button-text">DebugMode</span>
      </button>
      <button id = "exit" class="button-menu" [ngClass]="this.cursorClass" (click)="exitButton()">
        <div class="exit-icon"></div>
        <span class="button-text">Fermer</span>
      </button>
    </div>
    @if (runningParty) {
      <div class="party-panel"> <app-party (displayParty)="displayParty()"></app-party> </div>
    }
    @if (helpRequest) {
      <div class="party-panel"><app-help (displayHelp)="displayHelp()" ></app-help></div>
    }
    @if (configRequest) {
      <div class="party-panel"><app-config (displayConfig)="displayConfig()" ></app-config></div>
    }
    @if (debugRequest) {
      <div class="party-panel"><app-debug (displayDebug)="displayDebug()" ></app-debug></div>
    }
  </body>
  <footer>
    <audio [src]="getMusic()" [muted]="getAudio()" autoplay loop></audio>
  </footer>
</html>
