<div class="game-panel" [ngClass]="getPanelClass()">
  @if (!displayEndMessage) {
    <span class="panel-title">Game</span>
  }
  @if (displayEndMessage) {
    <span class="result-title">{{ getResultWording() }}</span>
  }
  <br />
  @if (!displayEndMessage) {
    <div class="game-subpanel">
      <div class="score-box">
        <label class="score-title">Joueur</label>
        <span class="score-player">{{ getPlayerInfo() }}</span>
      </div>
      @if (displayCountdown) {
        <div class="countdown">
          {{ getCount() }}
        </div>
      }
      @if (onGame) {
        <div class="cards-deck">
          <img [src]="getPlayerImgSource()" />
          <img [src]="getBotImgSource()" />
        </div>
      }
      <div class="score-box">
        <label class="score-title">Bot</label>
        <span class="score-bot">{{ getBotInfo() }}</span>
      </div>
    </div>
  }
  <br />
  @if (displayPlayButton()) {
    <button
      [ngClass]="getPlayButtonClass()"
      (mouseout)="cursorOut()"
      (mouseover)="cursorIn()"
      (click)="playGame()"
    >
      <span>{{ getPlayButtonWording() }}</span>
    </button>
  }
  <div class="iframe-panel">
    @if (displayWinFrame()) {
      <iframe
        id="1"
        src="https://giphy.com/embed/aqDXCH2M1ycEw"
        (mouseover)="$event.stopPropagation()"
        frameBorder="0"
        class="giphy-embed"
      ></iframe>
    }
    @if (displayLooseFrame()) {
      <iframe
        id="2"
        src="https://giphy.com/embed/kFkxuZM2qXhYI"
        (mouseover)="$event.stopPropagation()"
        frameBorder="0"
        class="giphy-embed"
      ></iframe>
    }
  </div>
  @if (displayExitButton()) {
    <button
      [ngClass]="getExitButtonClass()"
      (mouseout)="cursorOut()"
      (mouseover)="cursorIn()"
      (click)="exitGame()"
    >
      <span class="exit-button-title">Quitter</span>
    </button>
  }
</div>
