@font-face {
  src: url("src\assets\fonts\POKERKINGSREGULAR-36K8.TTF");
  font-family: "Poker";
 }
 @font-face {
   src: url("src\assets\fonts\POKERINOCTOBERDEMO-DXM3.OTF");
   font-family: "Poker Numbers";
 }

 .cursor-in {
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
  background-color: gold;
}

.no-focus {
  background-color: none;
}

html, body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 6em);
}

.game-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 1 80%;
  align-items: center;
  background-color: lightslategray;
  border-radius: 1em;
  border: 0.25em solid black;
  margin-top: 1em;
  cursor: url("src\assets\Poker\poker.cur") 4 12, auto;
}

.panel-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  font-family: "Poker";
  font-style: italic;
}

.label-panel-1 {
  color: darkred;
  text-decoration: underline;
}

.label-panel-2 {
  color: darkred;
  text-decoration: underline;
}

.label-theme {
text-decoration: underline;
}

.box-1 {
  border-color: black;
  border-right-style: dashed;
  border-width: 0.1em;
  padding-right: 0.5em;
}

.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: black;
  border-left-style: dashed;
  border-width: 0.1em;
  padding-left: 0.5em;
}

.choice {
  margin: 0em 1em;
}

.button-exitConfig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  width: 12em;
  height: 2.5em;
  margin-left: 1.5em;
  border-radius: 1em;
  border: 0.1em solid black;
  font-style: italic;
  font-size: 1.5em;
  font-family: "Poker";
}

.panel-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 75%;
  text-align: left;
  padding: 0em 0.75em;
  color: darkred;
  font-family: "Poker Numbers";
  font-size: 2em;
  background-color: lightslategray;
  border-radius: 1.25em;
  border: 0.1em solid black;
}

.button-line {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 1em 0em;
}
