@font-face {
  src: url("src\assets\fonts\POKERKINGSREGULAR-36K8.TTF");
  font-family: "Poker";
 }
 @font-face {
   src: url("src\assets\fonts\POKERINOCTOBERDEMO-DXM3.OTF");
   font-family: "Poker Numbers";
 }

 .cursor-in {
  cursor: url("src\assets\Poker\Hand-Right.cur") 4 12, auto;
  background-color: lightslategray;
}

.no-focus {
  background-color: none;
}


html, body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 6em);
}

.game-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 1 80%;
  align-items: center;
  background-color: purple;
  border-radius: 1em;
  border: 0.25em solid black;
  margin-top: 1em;
  cursor: url("src\assets\Poker\poker.cur") 4 12, auto;
}

.panel-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  font-family: "Poker";
  font-style: italic;
}

.label-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline;
}

.button-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
  }

.button-exitDebug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  width: 12em;
  height: 2.5em;
  border-radius: 1em;
  border: 0.1em solid black;
  font-style: italic;
  font-size: 1.5em;
  font-family: "Poker";
  margin: 0em 0.5em;
}

.panel-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 80%;
  height: calc(100vh - 10em);
  color: gold;
  font-family: "Poker Numbers";
  font-size: 2em;
  background-color: purple;
  border-radius: 2em;
  border: 0.1em solid lightslategray;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Poker Numbers";
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
  width: calc(100vw - 10em);
}
